/* Hidden by default */
.pdfFilterString {
    visibility: hidden;
}

/* Visible only during PDF export */
:global(.pdf-mode) .pdfFilterString {
    visibility: visible;
    font-size: 10px;
    color: #343438;
    margin-top: 4px;
}

:global(.pdf-mode) [data-pdf-hide-stack='true'] {
    visibility: hidden !important;
}